@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body{
    padding: 0;
    margin: 0;
    background-color: aqua;
    text-align: center;
    font-family: Raleway;
}

h1#title{
 color: blue;
 font-size: 50px;
}

p#description{
    color: brown;
    font-size: 20px;
}

form{
    padding: 10px;
    display: block;
}

input#name-label{
    margin-right: 50px;
}

#number-label{
    margin-right: 170px;
}

#radio{
    display: inline;
}



